* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header--container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header--mine-counter {
    width: 150px;
    text-align: center;
    font-family: Karla, sans-serif ;
}

.header--middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header--outcome {
    font-family: Karla, sans-serif;
}

.header--game-button {
    color: white;
    background-color: red;
    font-family: Karla, sans-serif;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
}

.header--game-button:active {
    background-color: orange;
}

.header--stopwatch {
    width: 150px;
    text-align: center;
    font-family: Karla, sans-serif;
}

.board--container {
    display: flex;
    justify-content: center;
}

.board--outline {
    margin: 10px 20px;
    border: 2px solid black;
    width: 195px; 
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-row-gap: 0px;
}

.board--outline > div {
    width: 24px;
    height: 24px;
    border: 2px solid black;
    user-select: none;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}