* {
    box-sizing: border-box;
    font-family: cursive
}

body {
    margin: 0;
}

.navbar--container {
    border-bottom: 2px solid black;
}

.navbar--title {
    display: flex;
    margin-bottom: 10px;
    background-color: beige;
}

.navbar--title > span {
    font-size: 20px;
    padding: 16px 20px 16px 16px;
}

.navbar--button {
    background-color: beige;
    border: none;
    color: black;
    font-size: 16px;
    padding: 0 16px;
}

.navbar--button:hover {
    background-color: white;
    cursor: pointer;
}

.navbar--item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.changeBoard--container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.changeBoard--current {
    background-color: orange;
    padding: 20px;
    border: 5px solid black;
    border-radius: 10px;
}

.changeBoard--current-title {
    text-decoration-line: underline;
}

.changeBoard--form {
    padding: 20px;
}

.changeBoard--beginner {
    color: green;
    font-weight: 600;
}

.changeBoard--intermediate {
    color: orange;
    font-weight: 600;
}

.changeBoard--expert {
    color: red;
    font-weight: 600;
}

.changeBoard--custom {
    color: blue;
    font-weight: 600;
    margin-right: 7px;
}

.changeBoard--input {
    text-align: center;
    width: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

.changeBoard--button {
    margin-top: 5px;
    font-size: 16px;
}

.header--container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header--mine-counter {
    width: 150px;
    text-align: center;
}

.header--middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header--game-button {
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
}

.header--game-button:active {
    background-color: orange;
}

.header--stopwatch {
    width: 150px;
    text-align: center;
}

.board--container {
    display: flex;
    justify-content: center;
}

.board--outline {
    margin: 10px 20px;
    border: 2px solid black;
    width: 195px; 
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-row-gap: 0px;
}

.board--outline > div {
    width: 24px;
    height: 24px;
    border: 2px solid black;
    user-select: none;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameResult--container {
    display: flex;
    justify-content: center;
    gap: 30px;
}